/*****CSS RESET*******/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}

body {
line-height: 1;
}

ol, ul {
list-style: none;
}

blockquote, q {
quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}

:focus {
outline: 0;
}

ins {
text-decoration: none;
}

del {
text-decoration: line-through;
}

table {
border-collapse: collapse; border-spacing:
}



/*****BODY STYLES*******/
body {
font-family: Arial;
font-size: 12px;
line-height: 18px;
background: #66CCFF; /*bacground color*/
}

p {
margin-top: 15px;
margin-bottom:15px;
}

p#italic{
font-size:17px;
text-align:center;
}

#container {
margin: 0 auto;
width: 1023px;
padding-top: 15px;
}


/*****HEADER STYLES*****/

#header {
float: left;
width: 1008px;
height: 162px;
padding-left: 15px;
background: #0099CC; /*heading color*/
}

#header img {
float: left;
width: 90px;
height: 90px;
margin-top: 15px;
}

/*****NAV STYLES*****/


ul#nav {
float: left;
width: 1023px;
height: 45px;
background: #FFCC00;
}

ul#nav li {
float: left;
text-align: center;
}
ul#nav a {
float: left;
padding: 14px 15px 10px;
color: black;
}


/******CONTENT STYLES******/

#leftContentIndex {
font-size:25px;
float: left;
width: 813px;
min-height:490px;
background: #003399;
padding-left: 5px;
line-height:25px;
}
#leftContentadmella {
font-size:25px;
float: left;
width: 1018px;
min-height:400px;
background: #003399;
padding-left: 5px;
line-height:25px;
}
#leftContentList {
font-size:25px;
float: left;
width: 1018px;
min-height:400px;
background: #003399;
padding-left: 5px;
line-height:25px;
}
#leftcontentlinks2 {
font-size:25px;
float: left;
width: 1018px;
min-height:400px;
background: #003399;
padding-left: 5px;
line-height:25px;
}

a {
	color: #FF0000;
}




#rightContentIndex {
float: right;
width: 204px;
min-height:400px;
background: #AAFFE2;
text-align:left;
}
#rightContentList {
float: right;
width: 204px;
min-height: 400px;
background: #AAFFE2;
text-align:left;
}
#rightContent___ {
font-size:15px;
float: right;
width: 245px;
background: #AAFFE2;
padding-left: 5px;
line-height:24px;
}

/******FOOTER STYLES******/


#clockbox {
float: left;
width: 1008px;
height: 20px;
padding-left: 15px;
background: Orange;
}